.ct-car-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--blue-border);
    border-radius: 10px;
    padding: 10px;
    margin: 25px auto;
    max-width: 650px;
}

.ct-car-card-container img {
    width: 260px;
    height: auto;
}

.ct-car-card-container p {
    color: var(--grey-font);
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 700;
}

.content-container h2 {
    .ct-car-card-container p {
        font-size: 20px;
    }
    .ct-car-card-container img {
        width: 390px;
        height: auto;
    }
}